:root {
	--brand-light-pink: #f6ebfd;   
	--brand-orange: #ff9000;
}

p {
    margin-bottom: .5rem;
}

/* checkbox & radiobuttons */

.custom-checkbox {
	cursor: pointer;
}

.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
	border-color: var(--brand-black);
	background-color: var(--brand-black);
}

.custom-checkbox .custom-control-label::before {
	border-radius: 50%;
}

.custom-checkbox label::before {
	border: 2px solid var(--brand-black);
}

.custom-select {
	height: calc(1.5em + .75rem + 5px);
	font-weight: 400 !important;
}

.switchToggle input[type=checkbox] {
	height: 0; 
	width: 0; 
	visibility: hidden; 
	position: absolute; 
}

.switchToggle label {
	cursor: pointer; 
	width: 54px; 
	max-width: 54px; 
	height: 26px; 
	background: #d1d1d1; 
	display: block; 
	border-radius: 100px; 
	position: relative; 
}

.switchToggle label:after {
	content: ''; 
	position: absolute; 
	top: 2px; 
	left: 2px; 
	width: 22px; 
	height: 22px; 
	background: #fff; 
	border-radius: 50%; 
	transition: 0.5s; 
}

.switchToggle input:checked + label, 
.switchToggle input:checked + input + label {
	background: var(--brand-dark-gray); 
}

.switchToggle input + label:before, 
.switchToggle input + input + label:before {
	content: 'NE'; 
	position: absolute; 
	top: 3px; 
	left: 26px; 
	width: 26px; 
	height: 26px; 
	transition: 0.5s; 
	color: #fff; 
	font-size: 14px;
}

.switchToggle input:checked + label:before, 
.switchToggle input:checked + input + label:before {
	content: 'DA'; 
	position: absolute; 
	top: 3px; 
	left: 6px; 
	width: 26px; 
	height: 26px; 
	transition: 0.5s; 
	color: #fff; 
	font-size: 14px;
}

.switchToggle input:checked + label:after, 
.switchToggle input:checked + input + label:after {
	left: calc(100% - 2px); 
	transform: translateX(-100%); 
}

.switchToggle label:active:after {
	width: 60px; 
} 

.toggle-switchArea { 
	margin: 10px 0 10px 0; 
}

/* checkbox & radiobuttons */

/* link-arrow */
.link-arrow {
	text-decoration: none;
	font-weight: 300;
}

.link-arrow::after {
	content: '\f054';
	font-size: 12px;
	font-family: var(--font-fa);
	font-weight: 700;
	margin-left: 5px;
	transition: margin ease-in-out .1s;
}

.link-arrow:hover {
	color: var(--brand-dark-gray);
	text-decoration: none;
}

.link-arrow:hover::after {
	margin-left: 12px;
}

.link-arrow--red {
	color: var(--brand-red);
}

.link-arrow--purple {
	color: var(--brand-purple);
}

.link-arrow--darkblue {
	color: var(--brand-dark-blue-3);
}

/* link-arrow */

/* MAIN BANNER >> */
.main-banner {
    padding: 20px 0 50px;
}

.main-banner--bingo {
    background: linear-gradient(-215deg, var(--brand-purple), var(--brand-purple) 65%, #822eb7 65%, #822eb7 100%);
}

.main-banner--loto {
	background: linear-gradient(-215deg, var(--brand-red), var(--brand-red) 65%, #ba1521 65%, #ba1521 100%);
}

.main-banner--blue {
	background-color: var(--brand-dark-blue-1);
}

.main-banner .main-banner__text__num {
	font-size: 52px;
	font-weight: 800;
	line-height: 1;
}

.main-banner .main-banner__text sup {
	font-size: 70%;
    top: -0.35em;
}

.main-banner #countdown {
	display: flex;
	position: absolute;
	right: 0;
	top: 50%;
	color: #fff;
	transform: translateY(-50%);
}

.main-banner #countdown div:not(:last-child) {
	margin-right: 10px;
}

.main-banner #countdown div:first-child {
	margin-right: 14px;
}

.main-banner #countdown div {
	display: block;
	text-align: center;
    width: 50px;
    font-size: 20px;
    line-height: 1rem;
    font-weight: 700;
    background-color: var(--brand-dark-gray);
    padding: 10px;
    border-radius: 5px;
    height: 50px;
}

.main-banner #countdown div span {
    font-size: 12px;
    font-weight: 200;
}

.main-banner #countdown span.double-dot {
    font-size: 20px;
	font-weight: 700;
	transform: translate(-5px, 8px);
}
/* << MAIN BANNER */

/* BINGO TICKET >> */
.bingo-ticket,
.ticket-card {
	background: white;
	margin-top: -35px;
	border-radius: 15px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
	padding: 30px;
	position: relative;
	overflow: hidden;
}
/* todo - mozemo .bingo-ticket da zamenimo skroz na .ticket-card? da bude univerzalno */

.ticket-card__tab-btns {
	flex-direction: row;
	margin-top: -30px;
	margin-right: -30px;
	margin-bottom: 30px;
	margin-left: -30px;
}

.ticket-card__btn {
	padding: .75rem .375rem;
	border-radius: 0;
}

.ticket-fields {
	display: flex;
	align-items: center;
}

.ticket-fields__field,
.ticket-fields__field:disabled {
	border: 2px solid;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	color: var(--brand-black);
	font-size: 1rem;
	text-align: center;
	font-weight: 600;
	margin-left: 6px;
	margin-right: 6px;
	background-color: var(--brand-white);
	-webkit-text-fill-color: var(--brand-black);
	opacity: 1;	/* required on iOS */
}

.ticket-fields__field.ticket-fields__field--sm,
.ticket-fields__field.ticket-fields__field--sm:disabled {
	width: 32px;
	height: 32px;
	font-size: 0.9rem;
	margin-left: 2px;
	margin-right: 2px;
}

.ticket-fields__field.ticket-fields__field--lg,
.ticket-fields__field.ticket-fields__field--lg:disabled {
	width: 56px;
	height: 56px;
	font-size: 1.2rem;
}

.modal .ticket-fields__field.ticket-fields__field--sm,
.ticket-fields__field.ticket-fields__field--sm:disabled {
	width: 40px;
	height: 40px;
	font-size: 0.9rem;
	margin: 4px;
}

.ticket-fields__field.ticket-fields__field--loto {
	border-color: var(--brand-red);
}

.ticket-fields__field.ticket-fields__field--lotoplus {
	border-color: var(--brand-dark-blue-1);
}

.ticket-fields__field.ticket-fields__field--joker {
	border-color: var(--brand-green);
}

.ticket-fields__field.ticket-fields__field--bingo {
	border-color: var(--brand-purple);
}

.ticket-fields__field.ticket-fields__field--bingoplus {
	border-color: var(--brand-light-blue-2);
}

.ticket-card__row.active .ticket-fields__field {
	background-color: var(--brand-yellow);
	border-color: var(--brand-yellow);
}

.ticket-fields span {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.ticket-fields.ticket-fields--hover-plus span::after {
	position: absolute;
	content: none;
	font-family: var(--font-fa);
	font-weight: 600;
	top: 22%;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 1rem;
	width: 100%;
	text-align: center;
}

.ticket-fields.ticket-fields--hover-plus:hover span:after {
	content: "\f067";
}

.ticket-card__row.active .ticket-fields.ticket-fields--hover-plus:hover span:after {
	content: none;
}

.ticket-close {
	margin-left: 18px;
	height: 21px;
	cursor: pointer;
}

.ticket-close__outline,
.ticket-close__sign {
	fill: var(--brand-darker-gray);
}

.ticket-close:hover,
.ticket-close.active {
	background-color: var(--brand-black);
}

.ticket-close:hover .ticket-close__outline,
.ticket-close.active .ticket-close__outline {
	fill: var(--brand-black);
}

.ticket-close:hover .ticket-close__sign,
.ticket-close.active .ticket-close__sign {
	fill: var(--brand-white);
}

.ticket-heart {
	margin-left: 18px;
	height: 21px;
	cursor: pointer;
}

.ticket-heart__stroke {
	fill: var(--brand-darker-gray);
}

.ticket-heart:hover .ticket-heart__bg,
.ticket-heart.active .ticket-heart__bg {
	fill: var(--brand-red);
}

.ticket-heart:hover .ticket-heart__stroke,
.ticket-heart.active .ticket-heart__stroke {
	fill: var(--brand-red);
}

.form-choose {
	display: flex;
	justify-content: flex-end;
}

.form-choose .custom-checkbox:last-of-type {
	margin-right: 0 !important;
}

.bingo-logo {
	margin-bottom: 30px;
}

.bingo-logo img {
	max-width: 140px;
	margin: 0 auto;
	display: block;
}

.DIV_Bingo_Center {
	margin-bottom: 20px;
}

.verticalTableText01,
.verticalTableText02,
.verticalTableText03 {
	position: relative;
}

.verticalTableText01a {
	transform: rotate(-90deg);
	color: #fff;
	border-radius: 13px;
	padding: 3px 10px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	width: 105px;
	position: absolute;
	top: 42px;
	left: -82px;
}

.verticalTableText01 .verticalTableText01a {
	background-color: #00CF4C;
}

.verticalTableText02 .verticalTableText01a {
	background-color: #ff9000;
}

.verticalTableText03 .verticalTableText01a {
	background-color: #e51b2b;
}

.Table01,
.Table02,
.Table03 {
	margin-left: 40px;
}

.Table01b, 
.Table_Dot01,
.Table02b, 
.Table_Dot02,
.Table03b, 
.Table_Dot03 {
	border: 1px solid var(--brand-dark-gray);
	vertical-align: middle;
	text-align: center;
	width: 40px;
	height: 35px;
}

.Table01b,
.Table02b,
.Table03b {
	margin: 0 auto;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.Table_Dot01,
.Table_Dot02,
.Table_Dot03 {
	background-position: center;
	background-image: url('../images/bingo/dot.svg');
	background-repeat: no-repeat;
	background-size: 6px;
}

.DIV_Bingo_Center--change {
	margin-top: 30px;
}

.DIV_Bingo01 {
	width: 190px;
	float: left;
}

.DIV_Bingo02a {
	display: flex;
	margin-top: 5px;
}

.DIV_TicketA1 {
	font-size: 50px;
	line-height: 1;
	font-weight: 800;
	color: var(--brand-purple);
	margin-right: 8px;
}

.DIV_Bingo02c1 {
	line-height: 1;
	background-color: var(--brand-purple);
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
	padding: 3px 20px;
	margin-top: 6px;
	border-radius: 3px;
}

.DIV_Bingo02c2 {
	text-align: center;
	line-height: 1;
	font-size: 13px;
	font-weight: 600;
	margin-top: 4px;
}

.DIV_Bingo04 {
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 12px;
}

.DIV_Bingo04a {
	border: 2px solid var(--brand-purple);
	width: 46px;
	text-align: center;
	border-radius: 5px;
	font-weight: 600;
	height: 36px;
	padding-top: 3px;
	font-size: 18px;
	margin-right: -14px;
}

.DIV_Bingo04b {
	margin-top: 10px;
	line-height: 1;
	font-weight: 300;
}

.bingo-plus-logo {
	margin-bottom: 30px;
}

.bingo-plus-logo img {
	max-width: 230px;
	margin: 0 auto;
	display: block;
}

.Table04b,
.Table_Star01 {
	border: 1px solid var(--brand-dark-gray);
	vertical-align: middle;
	text-align: center;
	width: 40px;
	height: 35px;
}

.Table_Star01 {
	background-position: center;
	background-image: url('../images/bingo/star.svg');
	background-repeat: no-repeat;
	background-size: 14px;
}

.Table04b {
	margin: 0 auto;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

.Table04 thead {
	margin-bottom: 8px;
	background: var(--brand-light-blue-2);
	border-radius: 5px;
	display: table-caption;
	color: #fff;
	padding: 3px 0;
}

.Table04bingo {
	display: flex;
	justify-content: space-evenly;
}

.Table04_Color {
	background-color: RGBA(5, 207, 213, 0.25);
}

.bingo-kockica img {
	max-width: 90px;
	display: block;
	margin: 20px auto 0;
}

.bingo-kockica p {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 15px;
	font-size: 18px;
}

.bingo-ticket hr,
.ticket-card hr {
	border-top: 1px solid var(--brand-dark-gray);
	margin-top: 20px;
	margin-bottom: 30px;
}

.float_left-bingo {
	display: flex;
}

.Form_Txt_Left01 span.bingo {
	background-color: var(--brand-purple);
}

.Form_Txt_Left01 span.bingoPlus {
	background-color: var(--brand-light-blue-2);
}

.Form_Txt_Left01 span.lotoPlus {
	background-color: var(--brand-dark-blue-1);
}

.Form_Txt_Left01 span.joker {
	background-color: var(--brand-green);
}

.Form_Txt_Left01 span {
	text-align: center;
	width: 90px;
	display: block;
	text-transform: uppercase;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	margin-right: 20px;
}

.DIV_BingoPlus_Center {
	display: flex;
	justify-content: center;
}

.DIV_Bingo_Center-table {
	display: flex;
	justify-content: center;
}

.ticket_next-prev {
	position: absolute;
	right: 30px;
	top: 22px;
}

.Button_Small.outline_none {
	outline: none;
	background: transparent;
	border: 0;
	font-weight: 500;
}

.Button_Small.outline_none i {
	color: var(--brand-purple);
	font-size: 40px;
	margin-left: 8px;
	position: relative;
	top: 8px;
}

.Form_Txt_Left01b {
	float: left;
	font-weight: 600;
	margin-right: 10px;
}

#total_price {
	font-weight: 600;
}

#btn-bingo-play {
	text-transform: uppercase;
	float: right;
	font-weight: 700;
	letter-spacing: 1px;
	width: 160px;
	font-size: 18px;
}

#bingo_price, 
#bingo_plus_price {
	margin-left: 20px;
}

.total-price {
	margin-top: 15px;
	font-size: 19px;
}
/* << BINGO TICKET */

/* DRAW BANNER >> */
.draw-banner__container {
	color: #fff;
	position: relative;
	padding: 30px 0;
	border-radius: 12px;
}

.draw-banner__container--purple {
	background-color: var(--brand-purple);
	margin-top: 220px;
}

.draw-banner__container--red {
	background-color: var(--brand-red);
	margin-top: 220px;
}

.draw-banner-srecko img {
	position: absolute;
	width: 200px;
	top: -122px;
	left: 130px;
}

.draw-banner-tv img:first-child {
	width: 180px;
	margin-left: -50px;
}

.draw-banner-tv--loto img:first-child {
	width: 90px;
	margin-left: -70px;
}

.draw-banner-tv img:last-child {
	position: absolute;
	width: 200px;
	top: -130px;
	right: -30px;
}

.draw-banner-text p {
	margin-bottom: 0;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
}
/* << DRAW BANNER */

/* HOW TO PLAY >> */
.how-to-play__headline {
	margin-top: 120px;
	margin-bottom: 80px;
}

.how-to-play__headline .star {
	width: 100px;
	display: block;
	margin: 0 auto;
}

.how-to-play__headline h1 {
	text-align: center;
	font-weight: 700;
	margin: 30px 0 50px;
}

.how-to-play__headline .girl {
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	max-width: 300px;
	width: 100%;
}

.how-to-play__grid--bingo {
	background-color: var(--brand-light-pink);
	background: linear-gradient(180deg, var(--brand-white), var(--brand-white) 150px,var(--brand-light-pink) 150px, var(--brand-light-pink) 100%);
}

.how-to-play__grid--loto {
	background-color: var(--brand-light-red);
	background: linear-gradient(180deg, var(--brand-white), var(--brand-white) 150px, var(--brand-light-red) 150px, var(--brand-light-red) 100%);
}

.how-to-play__grid .grid-item {
	margin-bottom: 50px;
}

.grid-item--lightblue {
	background-color: var(--brand-light-blue-4);
}

.grid-item--lightred {
	background-color: var(--brand-light-red);
}

.grid-item--pink {
	background-color: var(--brand-pink-2);
}

.grid-item--lightblue .grid-item__body {
	background: transparent;
	min-height: 250px;
	display: flex;
	flex-direction: column;
}

.grid-item--lightred .grid-item__body {
	background: transparent;
	min-height: 250px;
	display: flex;
	flex-direction: column;
}

.grid-item--pink .grid-item__body {
	background: transparent;
	min-height: 250px;
	display: flex;
	flex-direction: column;
}

.grid-item__header {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px 15px 0 0;
}

.grid-item__header--purple {
	background-color: var(--brand-purple);
	background: linear-gradient(-215deg, var(--brand-purple), var(--brand-purple) 57%, #822eb7 57%, #822eb7 100%);
}

.grid-item__header--orange {
	background-color: var(--brand-orange);
	background: linear-gradient(-215deg, var(--brand-orange), var(--brand-orange) 57%, #e66200 57%, #e66200 100%);
}

.grid-item__header--blue {
	background-color: var(--brand-light-blue-2);
	background: linear-gradient(-215deg, var(--brand-light-blue-2), var(--brand-light-blue-2) 57%, #0fb4c9 57%, #0fb4c9 100%);
}

.grid-item__header--darkblue {
	background-color: var(--brand-dark-blue-2);
	background: linear-gradient(-215deg, var(--brand-dark-blue-2), var(--brand-dark-blue-2) 57%, #1455c6 57%, #1455c6 100%);
}

.grid-item__header--red {
	background-color: var(--brand-red);
	background: linear-gradient(-215deg, var(--brand-red), var(--brand-red) 57%, #ba1521 57%, #ba1521 100%);
}

.grid-item__header--green {
	background-color: var(--brand-green);
	background: linear-gradient(-215deg, var(--brand-green), var(--brand-green) 57%,#05b153 57%, #05b153 100%);
}

.grid-item__header--lightgreen {
	background-color: var(--brand-green-2);
	background: linear-gradient(-215deg, var(--brand-green-2), var(--brand-green-2) 57%, #3bac65 57%, #3bac65 100%);
}

.grid-item__header--yellow {
	background-color: var(--brand-yellow);
	background: linear-gradient(-215deg, var(--brand-yellow), var(--brand-yellow) 57%, #e1911d 57%, #e1911d 100%);
}

.grid-item__header--color-box {
	justify-content: flex-start;
	padding: 30px;
	height: auto;
}

.grid-item__header span {
	font-weight: 900;
	font-size: 50px;
	line-height: 1;
}

.grid-item__header .grid-item-img01 {
	max-height: 80px;
}

.grid-item__header .grid-item-img02 {
	max-height: 96px;
	transform: translate(8px, -5px);
}

.grid-item__header .grid-item-img03 {
	max-height: 100px;
}

.grid-item__body {
	background-color: var(--brand-white);
	border-radius: 0 0 15px 15px;
	padding: 50px 30px 30px;
}

.grid-item__body h3 {
	font-weight: 800;
	font-size: 32px;
	margin-bottom: 25px;
}

button.regulations {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	width: 240px;
	margin-bottom: 100px;
	margin-top: 60px;
}
/* << HOW TO PLAY */

/* CLOVER >> */
.clover {
	padding: 140px 0 160px;
	background-image: url(../images/bingo/clover-star-18.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 30px 0 20px;
}

.clover h2 {
	font-weight: 800;
	font-size: 40px;
}

.clover p {
	font-weight: 600;
	letter-spacing: 4px;
}
/* << CLOVER */

.esgg-hero--es {
	background-color: var(--brand-light-blue-2);
}

.esgg-hero__bg {
	background-image: url(../images/e-srecke/e-srecke-devojka_bg.png);
	background-repeat: no-repeat;
	background-position-x: 140px;
	background-position-y: -160px;
	background-size: inherit;
	padding: 140px 0 170px;
}

.esgg-hero .es-text h1 {
	font-weight: 700;
}

.esgg-hero .es-text span {
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 18px;
}



.srecke {
	margin-top: 80px;
}

.srecke-item {
	padding: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	border-radius: 6px;
	margin: 20px;
	position: relative;
	overflow: hidden;
	/* max-width: 210px; */
}

.srecke-item__img {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.srecke-item__text-big {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.srecke-item__price,
.srecke-item__max {
	font-size: 15px;
}

.srecke-item__rules {
	margin-top: 5px;
}

.srecke-item__play {
	margin-top: 15px;
}

.srecke-item__play button {
	text-transform: uppercase;
	width: 55%;
	border-radius: 2px;
	font-weight: 700;
	font-size: 15px;
	padding: 5px 0;
}

.srecke-item__play a.demo {
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	width: 42%;
	text-decoration: none;
	color: var(--brand-dark-gray);
}

.srecke-item__play a.demo:hover {
	color: var(--brand-red);
	transition: all ease-in 250ms;
}

.srecke-btns button {
	position: static;
	padding: 0px;
	width: 40px;
	height: 40px;
	margin-left: 8px;
	transform: none;
}

.srecke-btns button::before {
	color: var(--brand-dark-gray);
}

.srecke-btns .slick-prev::before {
	font-family: var(--font-fa);
	content: "\f137";
	font-weight: 600;
	opacity: 0.45;
}

.srecke-btns .slick-next::before {
	font-family: var(--font-fa);
	content: "\f138";
	font-weight: 600;
	opacity: 0.45;
}


.loto-banner {
	background: linear-gradient(-215deg, var(--brand-red), var(--brand-red) 50%, #ba1521 50%, #ba1521 100%);
	margin-top: 100px;
	padding: 60px 0;
}

.loto-banner__logo {
	width: 140px;
	display: block;
	margin: 0 auto 30px;
}

.loto-banner__text p {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 15px;
}

.loto-banner__text h2 {
	font-size: 80px;
	font-weight: 900;
}

.loto-banner__text button {
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
	font-size: 18px;
}

.loto-banner__image img {
	position: absolute;
	right: 0;
	top: -50px;
	width: 300px;
}

.charity.charity--srecke,
.charity.charity--greb {
	margin-top: 180px;
	margin-bottom: 100px;
}

.charity-text.charity-text--srecke {
	background: var(--brand-purple);
}

.charity--srecke > .container::before {
	background: url(../images/crvene-tackice.svg) no-repeat top left;
}

.charity--srecke > .container::after {
	background: url(../images/rezultati/Zvezdica.svg) no-repeat;
}

.esgg-hero--greb .esgg-hero__bg {
	background-image: url(../images/e-srecke/greb-man_bg.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	padding: 220px 0 180px;
}

.esgg-hero--greb .gg-logo {
	width: 160px;
	position: absolute;
	left: 15px;
	top: -170px;
}

.esgg-hero .gg-text h1 {
	font-weight: 700;
}

.esgg-hero .gg-text p {
	font-weight: 500;
}

.esgg-hero .gg-text a {
	color: var(--brand-red);
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2rem;
}

.esgg-hero .gg-text a:hover {
	color: var(--brand-dark-gray);
	transition: all ease-in 250ms;
}

.esgg-hero .gg-text a:hover > i {
	transform: translateX(7px);
	transition: all ease-in 250ms;
}

.esgg-hero .gg-text a i {
	font-size: 14px;
}

.srecke--greb .srecke-item__price, 
.srecke--greb .srecke-item__max {
	font-size: 16px;
}

.prize-winners {
	margin-top: 100px;
}

.prize-winners__winner {
	border-radius: 50%;
	max-width: 300px;
	display: block;
	margin: 40px auto 20px;
	width: 100%;
}

.prize-winners .name {
	display: block;
	font-weight: 700;
	font-size: 20px;
}

.prize-winners .prize {
	display: block;
	font-size: 20px;
}

.prize-winners h1 {
	font-weight: 700;
	margin-bottom: 50px;
}

.prize-winners h1 span {
	color: var(--brand-yellow);
}

.prize-winners button {
	text-transform: uppercase;
	font-size: 18px;
	padding: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	width: 240px;
	margin: 80px auto 0;
	display: block;
}

.five-games__wrapper {
	padding: 30px 30px 50px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	border-radius: 12px;
	margin-top: -50px;
	background: var(--brand-white);
}

.five-games__logo img {
	width: 200px;
	margin: 0 auto 30px;
	display: block;
}

.five-games__wrapper__item {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	min-width: 158px;
}

.five-games__wrapper__item__img img {
	border-radius: 0 0 50% 50%;
}

.five-games__wrapper__item__txt {
	padding: 20px 15px;
}

.five-games__wrapper__item__txt p {
	font-size: 16px;
}

.five-games__wrapper__item__txt__link {
	margin: 15px 0 8px;
	font-weight: 300;
	font-size: 15px;
}

.five-games__wrapper__item__txt__link a {
	text-decoration: none;
}

.five-games__wrapper__item__txt button {
	font-size: 17px;
	width: 100%;
}

.five-games__wrapper > .row > .col {
	display: flex;
	justify-content: center;
}

.hero-dobitnici {
	background-image: url(../images/dobitnici/hero-pattern-bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 100px 0 230px;
}

.hero-dobitnici__content p {
	font-weight: 500;
}

.hero-dobitnici__content h2 {
	background-color: var(--brand-red);
	padding: 5px 20px;
	font-size: 40px;
}

.dobitnici-carousel {
	margin-top: -180px;
}

.dobitnici-carousel__item {
	padding: 90px 40px 40px;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	border-radius: 20px;
	margin: 90px 30px 30px;
	position: relative;
	background-color: var(--brand-white);
}

.dobitnici-carousel__item--loto {
	background-color: var(--brand-red);
	color: #fff;
}

.dobitnici-carousel__item .item-img {
	transform: translateY(-90px);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.dobitnici-carousel__item .item-img img {
	border-radius: 50%;
	max-width: 180px;
	display: block;
	margin: 0 auto;
}

.dobitnici-carousel__item .item-name {
	font-weight: bold;
	margin: 20px 0;
}

.dobitnici-carousel__item .item-testimonial {
	font-family: var(--font-unna);
	font-style: italic;
	color: #8d8d8d;
	font-size: 26px;
	line-height: 1;
	padding-bottom: 20px;
}

.dobitnici-carousel__item .item-decoration {
	position: relative;
	bottom: 0;
	margin: 20px auto;
	width: 50px;
	height: 1px;
	content: "";
	background-color: var(--brand-dark-gray);
	left: 0;
	right: 0;
}

.dobitnici-carousel__item .item-game {
	font-weight: bold;
}

.dobitnici-carousel__item .item-prize {
	font-size: 1.5rem;
	font-weight: bold;
}

.dobitnici-carousel__item .item-prize--loto {
	font-size: calc(1.5rem + 70%);
}

.greb-modal {
	padding-right: 0;
}

.greb-modal .close {
	font-size: 1.7rem;
	color: #fff;
	text-shadow: 0 0 0 #fff;
}

.greb-modal .modal-content {
	background-color: transparent;
	border: 0;
}

.greb-modal .modal-body {
	padding: 0;
}

.greb-modal .modal-body img {
	margin: 0 auto;
	display: block;
	max-height: 60vh;
	max-width: 85vw;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	/* MAIN BANNER >> */
    .main-banner #countdown div:not(:last-child) {
		margin-right: 10px;
	}

	.main-banner #countdown div:first-child {
		margin-right: 14px;
	}

	.main-banner #countdown div {
		width: 50px;
		font-size: 20px;
		font-weight: 700;
		padding: 8px;
		height: 50px;
	}

	.main-banner #countdown span.double-dot {
		font-size: 20px;
		transform: translate(-5px, 8px);
	}
	/* << MAIN BANNER */

	.esgg-hero__bg {
		background-position-x: 70px;
	}

	/* DRAW BANNER >> */
	.draw-banner-srecko img {
		left: 80px;
	}

	.draw-banner-tv img:first-child {
		width: 170px;
		margin-left: -10px;
	}
	/* << DRAW BANNER */

	.loto-banner__logo {
		width: 130px;
		margin-bottom: 20px;
	}

	.loto-banner__image img {
		width: 270px;
	}

	.loto-banner__text h2 {
		font-size: 60px;
	}

	.five-games__wrapper {
		padding: 30px 10px 50px;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	/* BINGO TICKET >> */
	.float_left-bingo {
		justify-content: center;
	}
	/* << BINGO TICKET */

	.esgg-hero__bg {
		background-position-x: 0;
	}

	/* DRAW BANNER >> */
	.draw-banner-srecko img {
		position: relative;
		width: 190px;
		top: -105px;
		left: 50%;
		transform: translateX(-50%);
	}

	.draw-banner-text {
		padding: 0 15px;
		position: relative;
		top: -60px;
	}

	.draw-banner-tv img:first-child {
		width: 200px;
		display: block;
		margin: 0 auto 0;
	}
	/* << DRAW BANNER */

	.loto-banner {
		padding: 40px 0;
	}

	.loto-banner__text h2 {
		font-size: 45px;
	}

	.loto-banner__logo {
		width: 120px;
		margin-bottom: 15px;
	}

	.loto-banner__image img {
		width: 210px;
		top: -30px;
	}

	.form-choose {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.form-choose__numbers {
		width: 100%;
		margin-top: 1rem;
	}

	.five-games__wrapper {
		padding: 30px 30px 50px;
	}

	.five-games__wrapper__item {
		max-width: 190px;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.esgg-hero__bg {
		background-position-x: -500px;
		background-position-y: -120px;
	}

	.esgg-hero .es-logo {
		width: 150px;
		top: -190px;
	}

	.esgg-hero .es-text span {
		font-size: 16px;
	}

	.loto-banner {
		padding: 70px 0 60px;
	}

	.loto-banner__image {
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}

	.loto-banner__image img {
		position: relative;
		width: 250px;
		right: 0;
		top: 0;
	}

	.loto-banner__text {
		text-align: center;
	}

	.loto-banner__logo {
		width: 130px;
		margin: 0 auto 30px;
	}

	.esgg-hero--greb .esgg-hero__bg {
		padding: 180px 0 140px;
	}

	.esgg-hero--greb .gg-logo {
		width: 140px;
		top: -150px;
		left: 50%;
		transform: translateX(-50%);
	}

	.ticket-fields .btn-dark {
		padding: .5rem;
	}

	.ticket-fields__field,
	.ticket-fields__field:disabled {
		width: 32px;
		height: 32px;
	}

	.esgg-hero--greb {
		background-color: #fecbe4;
	}

	.esgg-hero--greb .gg-img-mob img {
		display: block;
		margin: 0 auto;
		max-width: 500px;
		width: 100%;
	}

	.esgg-hero--greb .esgg-hero__bg {
		background-image: none;
		padding: 220px 0 0px;
	}

	.esgg-hero--greb .gg-text {
		text-align: center;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

	/* MAIN BANNER >> */
    .main-banner .main-banner__text__num {
		font-size: 38px;
	}
	/* << MAIN BANNER */

	/* BINGO TICKET >> */
	.bingo-ticket,
	.ticket-card {
		padding: 30px 15px;
	}

	.ticket_next-prev {
		right: 7px;
		top: 7px;
	}

	.Button_Small.outline_none i {
		font-size: 46px;
		top: 7px;
	}

	.Table01, 
	.Table02, 
	.Table03 {
		margin-left: 30px;
	}

	.verticalTableText01a {
		left: -72px;
	}
	/* << BINGO TICKET */

	/* CLOVER >> */
	.clover h2 {
		font-size: 32px;
	}
	/* << CLOVER */

	.ticket-fields {
		flex-wrap: wrap;
	}

	.ticket-close-text {
		display: inline-block !important;
		margin: 0.6em auto;
		font-size: 0.8rem;
	}

	.ticket-fields .btn-dark {
		padding: .25rem;
		margin-right: .5rem !important;
	}

	.ticket-fields.ticket-fields--hover-plus span::after {
		top: 22%;
		font-size: 0.8rem;
	}

	.ticket-fields__field,
	.ticket-fields__field:disabled {
		width: 8vw;
		height: 8vw;
		font-size: 1rem;
		margin-left: 0;
		margin-right: 0;
	}

	.ticket-fields__field.ticket-fields__field--lg,
	.ticket-fields__field.ticket-fields__field--lg:disabled {
		width: 11vw;
		height: 11vw;
		font-size: 1rem;
		margin-left: 0;
		margin-right: 0;
	}

	.ticket-close {
		position: absolute;
		bottom: 0;
		margin: auto;
		left: 0;
		right: 0;
	}

	.ticket-heart {
		margin-left: 10px;
	}

	.ticket-fields__field.ticket-fields__field--sm,
	.ticket-fields__field.ticket-fields__field--sm:disabled {
		width: 28px;
		height: 28px;
		margin-left: 1px;
		margin-right: 1px;
	}

	.ticket-card .submit-btn {
		float: none !important;
		margin: auto;
		margin-top: auto;
		display: block;
	}

	.ticket-card__tab-btns {
		margin-right: -15px;
		margin-left: -15px;
	}

	.five-games__wrapper__item {
		max-width: 240px;
	}
}

/* Extra large devices */
@media (min-width: 1200px) {

	/* HOW TO PLAY >> */
	.grid-item__body {
		min-height: 300px;
	}
	/* << HOW TO PLAY */
}

@media (min-width: 992px) {

	.ml-from-md-0 {
		margin-left: 0;
	}

	.mr-from-md-0 {
		margin-right: 0;
	}

}